.card{
    background-color:lightgray;
    box-shadow: 5px 5px 5px 2px;
}
.instructor-container{
    margin-right: 30px;
    margin-left: 30px;
    text-align: justify;
    background-color: lightblue;
    padding: 30px;
    border-radius: 20px;
    border: 2px solid lightseagreen;
}
